.contact {
  padding: 20px 50px;
  background: linear-gradient(129deg, #004b93 10.23%, #328d98 68.37%);
  color: white;

}
.contact .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact h2 {
  font-size: 14px;

  font-weight: 700;

  letter-spacing: 0.2px;
}
.contact .contact_icons {
  color: white;
  display: flex;
  gap: 30px;
}
.contact .contact_icons .icon {
  display: flex;
  gap: 5px;
}

.contact .follow {
  display: flex;
  gap: 15px;
}
.contact .follow .follow_icons {
  display: flex;
  gap: 15px;
}
.contact .follow .follow_icons a {
  color: white;
}
/* start nav */
.nav {
 
}
.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 50px;
}
.nav .nav_links .image img {
  width: 90px;
}
.nav .nav_links ul {
  display: flex;
  gap: 30px;
}
.nav .nav_links ul .link {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
  transition: 0.5s;
  padding: 9px 15px;
  border-radius: 100px;
}
.nav .nav_links ul .link:hover {
  color: white;

  background: #1594f8;
}

.nav .nav_links .icons {
  display: flex;
  gap: 30px;
}
.nav .nav_links .icons .icon {
  background-color: #cfc6c6;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav .nav_links .icons .icon:nth-child(3) {
  position: relative;
}

.nav .nav_links .icons .icon:nth-child(3) span {
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #004b93;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for medium screens */
  .contact {
    padding: 10px 15px;
    background: linear-gradient(129deg, #004b93 10.23%, #328d98 68.37%);
    color: white;
  
  }
  .contact .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px
  }
  .contact h2 {
   
  
    font-weight: 500;
  
    
  }
  
  
  .contact .follow {
    
    gap: 20px;
  }
  .contact .follow .follow_icons {
    
    gap: 15px;
  }
  
  .nav_links {
    
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .nav .nav_links .image img {
    width: 90px;
  }
  .nav .nav_links ul {
    display: flex;
    gap: 30px;
  }
  .nav .nav_links ul .link {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-decoration: none;
    transition: 0.5s;
    padding: 9px 15px;
    border-radius: 100px;
  }
  .nav .nav_links ul .link:hover {
    color: white;
  
    background: #1594f8;
  }
  
  .nav .nav_links .icons {
    display: flex;
    gap: 30px;
  }
  .nav .nav_links .icons .icon {
    background-color: #cfc6c6;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .nav .nav_links .icons .icon:nth-child(3) {
    position: relative;
  }
  
  .nav .nav_links .icons .icon:nth-child(3) span {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #004b93;
    color: white;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}
